@model BlogAddModel


<form asp-action="AddBlog" method="post" enctype="multipart/form-data" class="form-control mx-auto w-100 p-4 shadow">
    <div class="form-group">
        <label class="form-label">Başlık</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">Kısa Tanım</label>
        <input asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label class="form-label">İçerik</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label class="form-label">Resim Seçiniz</label>
        <input asp-for="File" class="form-control-file" type="file" />
    </div>

    <div class="mt-2">
        <button class="btn btn-success" type="submit">Bloğu Yayınla</button>
    </div>
</form>
@section css{
    <link href="/lib/Trumbowyg-main/dist/ui/trumbowyg.min.css" rel="stylesheet" />
}

@section JavaScript{
    <script src="/lib/Trumbowyg-main/dist/trumbowyg.min.js"></script>
}
<script src="~/lib/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("#Description").trumbowyg();
    });
</script>